---
import Layout from '../layouts/Layout.astro';
const post = {
  pageTitle: "Home",
  date: "2025-09-05",
  author: "ADHDad",
};
---
<Layout pageTitle={pageTitle}>
<article class="blog-post">
    <header>
      <h1>{post.title}</h1>
      <p class="meta">
        <time datetime={post.date}>{post.date}</time> · by {post.author}
      </p>
    </header>
    <section class="content">
      <h2>Heading</h2>
      <p>
        Ipsum funum. 
      </p>
    </section>
  </article>
  <!-- Cards -->
    <div class="card-container">
      <div class="card">
        <h3>New Content: Website Created 21/08/2025</h3>
        <p>Website home page created. Content to follow...</p>
      </div>
      <!-- Add more as needed -->
    </div>
</Layout>
